table {
  border-radius: 10px;
  overflow: hidden;
}

table thead {
  font-weight: bold;
}

.btn-outline-success {
  transition: 0.2s ease;
}

.btn-outline-success:hover {
  background-color: #198754;
  color: white;
  transform: scale(1.05);
}
