<div class="container mt-4">
  <h3 class="text-primary fw-bold mb-3">
    Invitar usuarios al grupo
  </h3>

  <p class="text-muted">Selecciona los usuarios que quieres invitar al grupo.</p>

  <div class="table-responsive shadow-sm rounded">
    <table class="table table-hover align-middle">
      <thead class="table-primary">
        <tr>
          <th>Usuario</th>
          <th class="text-end">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of usuarios">
          <td>{{ u.nombre }}</td>
          <td class="text-end">
            <button class="btn btn-sm btn-outline-success"
                    (click)="InvitarUsuario(u.idUsuario)">
               Invitar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-end mt-3">
    <a routerLink="/usuario-comun" class="btn btn-outline-secondary">
      Regresar
    </a>
  </div>
</div>
