.card {
  border-radius: 15px;
}

.bg-primary {
  background: linear-gradient(135deg, #0d6efd, #6610f2) !important;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}